@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: center;
	background: linear-gradient(to right, #3B3EA1, #00A1BA);
	padding: 16px;
	border-radius: 0px 0px 25px 25px;
}

aside {
	display: grid;
	place-items: center;
	position: sticky;
	top: 20px;
}

.content {
	margin-top: 20px;
}

.card {
	background-color: rgb(246, 246, 246);
	padding: 16px;
	border-radius: 25px;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.203);
	margin-bottom: 30px;
}

nav {
	background: linear-gradient(to left, #3B3EA1, #00A1BA);
	padding: 0px 10px;
	border-radius: 25px;
}

nav a {
	color: white;
	font-weight: 500;
}

ul {
	padding: 0;
	list-style: none;
	display: flex;
	gap: 20px;
	justify-content: center;
}

a {
	text-decoration: none;
	font-weight: 500;
}

main {
	padding: 16px;
}

.nama p {
	font-weight: 600;
	color: white;
}

.content p, li, a, td {
	color: #00A1BA;
}

h1 {
	color: #3B3EA1;
	font-size: 1.7em;
}

h2 {
	font-size: 1.2em;
	color: #3B3EA1
}

th {
	color: #3B3EA1
}

.card p {
	font-size: 1em;
}

img {
	max-width: 100%;
	margin-bottom: 10px;
	border-radius: 25px;
}

td {
	padding-left: 10px;
}

footer {
	display: flex;
	justify-content: center;
	background: linear-gradient(to right, #3B3EA1, #00A1BA);
	padding: 16px;
	border-radius: 25px 25px 0px 0px;
}

footer p {
	color: white;
	font-weight: 600;
}

@media (min-width: 40em) {
	.card {
		display: flex;
		align-items: center;
	}

	h1 {
		color: #3B3EA1;
		font-size: 2em;
	}
	
	h2 {
		font-size: 1.5em;
		color: #3B3EA1
	}

	img {
		max-width: 400px;
		border-radius: 50px;
	}
}
